.w3-theme-l5 {color:#000 !important; background-color:#f4f9ff !important}
.w3-theme-l4 {color:#000 !important; background-color:#daedff !important}
.w3-theme-l3 {color:#000 !important; background-color:#b6daff !important}
.w3-theme-l2 {color:#000 !important; background-color:#91c8ff !important}
.w3-theme-l1 {color:#000 !important; background-color:#6cb6ff !important}
.w3-theme-d1 {color:#fff !important; background-color:#2793ff !important}
.w3-theme-d2 {color:#fff !important; background-color:#0683ff !important}
.w3-theme-d3 {color:#fff !important; background-color:#0072e4 !important}
.w3-theme-d4 {color:#fff !important; background-color:#0062c4 !important}
.w3-theme-d5 {color:#fff !important; background-color:#0052a3 !important}

.w3-theme-light {color:#000 !important; background-color:#f4f9ff !important}
.w3-theme-dark {color:#fff !important; background-color:#0052a3 !important}
.w3-theme-action {color:#fff !important; background-color:#0052a3 !important}

.w3-theme {color:#fff !important; background-color:#45a1ff !important}
.w3-text-theme {color:#45a1ff !important}
.w3-border-theme {border-color:#45a1ff !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#45a1ff !important}
.w3-hover-text-theme:hover {color:#45a1ff !important}
.w3-hover-border-theme:hover {border-color:#45a1ff !important}