* text=auto
*.sh text eol=lf
*.conf text eol=lf
*.conf.dist text eol=lf
*.cgi text eol=lf
firmware_mod/config/lighttpd.user text eol=lf
firmware_mod/bin/curl text eol=lf
firmware_mod/bin/mosquitto_pub text eol=lf
firmware_mod/bin/mosquitto_sub text eol=lf
firmware_mod/bin/lighttpd text eol=lf
firmware_mod/bin/motor text eol=lf
firmware_mod/controlscripts/* text eol=lf
firmware_mod/scripts/* text eol=lf
firmware_mod/config/autostart/* text eol=lf
firmware_mod/root/.profile text eol=lf
firmware_mod/root/.busybox_aliases text eol=lf
firmware_mod/etc/* text eol=lf
