host=matrix.your_homeserver.com
port=8448
room_id=!lCnPSddfgdasdfhsh:matrix.your_homeserver.com
sender=@user_name:matrix.your_homeserver.com
access_token=MDAxZWxvY2F0aW9uIG1hdHJpesdfsdfxM2lkZW50aWZpZXIga2V5CjAwMTBjaWQgZ2VuID0gMQowMDMyY2lksdfsdWFzc2lzdGFudDptYXRyaXgudGF0c2NoLml0CjAwMTZjaWQgdHlwZSA9IGFjY2VsdfsdflIfghTU355eFg2WDlRdC0taQowMDJmc2lnbmF0dXJlIAwhjftfdh
