############################################################
# edit this file and move it to /system/sdcard/config/motion.conf #
############################################################

# Configure the motion core parameters:

region_of_interest=0,0,1280,720
motion_sensitivity=4
motion_indicator_color=2
motion_timeout=-1
motion_tracking=off

# Configure how to deal with motion events:

motion_trigger_led=true
save_snapshot=false
publish_mqtt_message=false
sendemail=false

#configure snapshot quality/optimization
opt=1           #set optimization on on/off
scl=0          #set scale on/off
sclv="1/2"      #set scale eg 1/4 is 25% of file resolution
cln=1			#set cleanup on/off 
clnd=2			#set cleanup after N days
