############################################################
# edit this file and move it to /system/sdcard/config/motion.conf #
############################################################

# Configure the motion core parameters:

region_of_interest=0,0,1280,720
motion_sensitivity=4
motion_indicator_color=2
motion_timeout=-1
motion_tracking=off

# Configure how to deal with motion events:

motion_trigger_led=true
save_snapshot=false
publish_mqtt_message=false
sendemail=false