{
  "presets":{
	"home":{
	  "x":1400,
	  "y":350
	},
	"left":{
	  "x":0,
	  "y":350
	},
	"top":{
	  "x":1400,
	  "y":700
	},
	"right":{
	  "x":2800,
	  "y":350
	},
	"bottom":{
	  "x":1400,
	  "y":0
	}
  }
}
